<svg [attr.viewBox]="layout().viewBox" (pointerdown)="onSvgPointerDown($event)" preserveAspectRatio="xMidYMid meet"
  class="block w-full h-auto border border-gray-300 rounded-lg bg-gray-50">
  <g id="track-layer" pointer-events="none">
    <path [attr.d]="layout().trackPath" fill="none" stroke="black" stroke-width="15" stroke-linecap="round"
      stroke-linejoin="round" />
  </g>
  <g id="racing-line-layer" pointer-events="none">
    @if (points().length >= 2) {
    <polyline [attr.points]="polylinePoints()" fill="none" stroke="red" stroke-width="6" stroke-linecap="round"
      stroke-linejoin="round" />
    }
  </g>
  <g id="points-layer">
    @for (point of points(); track point.id) {
    <circle [attr.cx]="point.x" [attr.cy]="point.y" [attr.fill]="point.id === selectedPointId() ? 'red' : 'blue'" r="14"
      (pointerdown)="$event.stopPropagation()" />

    }
  </g>
</svg>